body{
    background-color: #252422;
    color: #FFFCF2;
}

h1,h2,h3,h4,h5,h6, strong, .navbar{
    font-family: 'Special Elite', cursive;
}

p, button, li{
    font-family: 'Merriweather', serif; 
}

@media only screen and (max-width: 450px){
    #search{
        font-size: xx-large;
    }
}